.navbar {
    background-color: #7B3538; 
    margin-bottom: 20px; 
    z-index:1; 
    position: sticky;
    box-sizing: border-box;  
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
    }
    a.nav-link {
      color: #c1bbbb;
    }
    a.nav-link:hover {
      color: #FCF5F5 !important;
    }
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
      color: #FCF5F5 !important;
    }
  
    body {
      background-color: #FCF5F5 !important;
      font-family: 'Instrument Sans', sans-serif !important;
      line-height: 1.5 !important;
    }
    
    .table thead tr th {
      background-color: #7B3538;
      color: #FBFCF5;
      font-weight: 200;
    }
    .table td {
      background-color: #EEE7E7 !important;
    }
    .table tr {
      border-bottom: 1px solid #7B3538;
    }